@import './variables';

// Loading
.loading-view {
  height: 100%;
  flex-direction: column;
  z-index: 2;
  @include items_center();

  #loader {
    display: block;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $light-color;
    @include animation(spin 2s linear infinite);

    &::before, &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      border: 3px solid transparent;
    }

    &::before {
      @include circle(5px);
      border-top-color: $teal-color-dark;
      @include animation(spin 3s linear infinite);
    }
    
    &::after {
      @include circle(12px);
      border-top-color: $teal-color;
      @include animation(spin 1.5s linear infinite);
    }
  }
}

.indicators-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  h6 {
    font-size: 0.65rem;
    margin-bottom: 0;
    margin-right: 0.4rem;
  }
  p {
    margin-bottom: 0;
    small {
      font-size: 0.55rem;
      margin-right: 0.6rem;  
      span {
        margin-right: 0.2rem;
      }
    }
  }
}

// Cards
.card-char-dashboard {
  text-decoration: none;
  color: black;
 .card {
  margin-bottom: 0.5rem;
  .card-body {
    padding: 3px;
    text-align: center;
  }
 }
  &:hover {
    .card.bkg-danger {
      background-color: #ad1f25!important;
    }
    .card.bkg-success {
      background-color: #4e8f5c!important;
    }
    .card.bkg-no-data {
      background-color: #b3afaf!important;
      color: black;
    }
    .card.bkg-warning {
      background-color: #D9D793!important;
      color: black;
    }
  }
}

// Modals
.modal-dialog {
  z-index: 3;
}

// Table
.react-bootstrap-table table {
  thead {
    font-size: 0.7rem;
  }
  tbody {
    font-size: 0.7rem;
  }
}
.table-responsive {
  width: 100%;
  overflow-x: hidden!important;
}

@-webkit-keyframes spin {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

@keyframes spin {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}