@media (max-width: 767px) {
  body {
    height: auto;
  }

  .navbar {
    left: 0px!important;
  }

  .container-general {
    section {
      height: auto;
      padding: initial;
      padding-bottom: 1rem;
    }
  }

  .table-responsive {
    overflow-x: auto!important;
  }

  .container-general {
    padding-left: var(--bs-gutter-x,.75rem)!important;
  }

  .general-layout {
    .card {
      width: 60%;
    }
  }
}

@media (max-width: 991px) {
  .navbar-nav {
    background: #002841;
    color: white;
    padding: 1rem;
    a.nav-link {
      padding: .375rem .75rem!important;
    }
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .general-layout {
    .card {
      width: 50%;
    }
  }
}
