// Colors
$teal-color: #00b5ad;
$teal-color-dark: #009c95;
$light-color: lightblue;
$warning-color: #f3f093;
$danger-color: #C9252C;
$success-color: #5AA66B;
$gray-color: #bdbaba;

// Font
@font-face {
  src: url("/fonts/Poppins-Regular.ttf");
  font-family: fontGeneral;
}

@font-face {
  src: url("/fonts/RobotoCondensed-Bold.ttf");
  font-family: fontTitles;
}

// Animations
@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  animation: $animation;
}

@mixin circle($size) {
  top: $size;
  left: $size;
  right: $size;
  bottom: $size;
}

@mixin transform($translate) {
  -webkit-transform: $translate;
  -moz-transform: $translate;
  -ms-transform: $translate;
  -o-transform: $translate;
  transform: $translate;
}

@mixin burble($left, $width, $height, $animation) {
  left: $left;
  width: $width;
  height: $height;
  animation-delay: $animation;
}

@mixin items_center() {
  display: flex;
  align-items: center;
  justify-content: center;
}